.content{
    background-color: #fff6eb;
    font-family: 'Source Sans Pro',sans-serif;
    padding: 15px auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.content h1{
    font-family: 'Source Sans Pro',sans-serif;
}
.content h2{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: lighter;
}
.content p{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: lighter;
    font-size: smaller;
}
.left-side{
    flex: 1;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 180px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.right-side{
    flex: 1;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.right-side label{
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #4f4f4f;
    letter-spacing: .1em;
    margin: 0
}
.right-side input{
    background: #fff;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
    padding: 4px;
    font-family: 'Hind',sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #363636;
    max-width: 100%;
    outline: none;
}
.form{
    margin-bottom: 1em;
}
#submit{
    text-align: center;
    background: #000;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    font-weight: 400;
    color: #fff;
    padding: 8px 40px;
    text-transform: uppercase;
    letter-spacing: .1em;
}
#submit:hover{
    background-color: white;
    color: black;
    border: 1px solid rgb(173, 170, 170);
}